
<div class="ui page grid">
  <div class="row">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <h2 class="ui huge header">プロフィール登録</h2>
        <p>貸すことができる自動車、あなたの情報を登録してください。</p>
      </div>
    </div>
  </div>

  <div class="two column row">
    <div class="column">
      <div class="center aligned starter column">
        <center><h2 class="ui header">自動車情報登録</h2></center>
        <div class="ui card"style="margin: 0 auto;">
          <div class="image" style="padding: 20px;">
            <%= image_tag "car_s.png" %>
          </div>
          <div class="content">
            <a class="header"><%= @car.name_jp %></a>
            <div class="meta">
              <span class="date">満期日:<%= @car.maturity_jp %></span>
            </div>
          </div>
          <div class="extra content">
            <%= link_to [:new, :car] do %>
              <i class="user icon"></i> 編集
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'user_card', page: :tutor %>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <h2 class="ui huge header">日付登録</h2>
        <p>自動車を貸すことができる日付、時間帯を設定してください。</p>
      </div>
    </div>
  </div>

  <table class="ui celled padded table">
    <thead>
      <tr>
        <th class="single line">貸出可能日</th>
        <th>時間帯</th>
        <th>貸出時間</th>
        <th>設定料金</th>
        <th>実績</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h2 class="ui center aligned header">A</h2>
        </td>
        <td class="single line">
          Power Output
        </td>
      </tr>
      <tr>
        <td>
          <h2 class="ui center aligned header">A</h2>
        </td>
        <td class="single line">
          Weight
        </td>
      </tr>
    </tbody>
  </table>

  <%= render 'layouts/footer'%>
</div>
