<!DOCTYPE html>
<html>
  <head>
    <title>Scissors</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      body { background-color: #DADADA; }
      body > .grid { height: 100%; }
      .image { margin-top: -100px; }
      .column { max-width: 450px; }
    </style>
  </head>

  <body>

    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
